* {
    display: inline;
    
    border-collapse: inherit;
    border-spacing: inherit;
    caption-side: inherit;
    color: inherit;
    cursor: inherit;
    direction: inherit;
    empty-cells: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    list-style-image: inherit;
    list-style-position: inherit;
    list-style-type: inherit;
    list-style: inherit;
    orphans: inherit;
    quotes: inherit;
    tab-size: inherit;
    text-align: inherit;
    text-align-last: inherit;
    text-decoration-color: inherit;
    text-indent: inherit;
    text-justify: inherit;
    text-shadow: inherit;
    text-transform: inherit;
    visibility: inherit;
    white-space: inherit;
    widows: inherit;
    word-break: inherit;
    word-spacing: inherit;
    word-wrap: inherit;
}

$document {
    display: block;
    color: black;
}

a {
    color: #00f;
    text-decoration: underline;
    cursor: pointer;
}

body {
    display: block;
}

div {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
    font-weight: bold;
}

head {
    display: none;
}

html {
    display: block;
}

p {
    display: block;
}

script {
    display: none;
}
